In [65]:
import pandas as pd

In [66]:
import numpy as np

In [67]:
import seaborn as sb

In [68]:
data6=pd.read_csv(r"C:\Users\volker EJ\OneDrive\Documents\data set\Final!!.csv")

In [69]:
data6

,PARAMETERS,SO2,CO,NO,NO2,NOX,NH3,O3,AQI,WS,WD,RH,SR,TC
0,01/01/2023,2.02,0.06,8.93,17.84,26.00,8.93,26.07,72,0.33,37.96,80.27,199.80,28.70
1,02/01/2023,1.63,0.12,8.89,17.74,26.00,8.89,25.97,81,0.47,33.84,82.50,189.10,28.11
2,03/01/2023,3.46,0.03,8.91,17.89,26.00,8.91,26.03,82,0.19,54.37,71.00,203.10,28.55
3,04/01/2023,2.79,0.11,8.88,17.77,26.00,8.88,25.95,79,0.54,40.44,78.11,205.20,28.25
4,05/01/2023,1.15,0.22,9.48,17.73,26.00,9.48,23.93,84,0.43,42.53,78.56,202.30,28.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,12/27/2024,3.53,0.53,1.45,5.34,6.68,1.45,36.20,66,0.80,151.19,83.99,98.19,30.23
671,12/28/2024,3.65,0.48,1.44,5.35,6.72,1.44,36.17,64,0.82,159.29,76.87,95.05,29.99
672,12/29/2024,4.64,0.49,1.42,5.35,6.58,1.42,36.21,60,0.82,148.56,78.66,100.60,30.42
673,12/30/2024,4.18,0.53,1.44,5.37,6.77,1.44,36.20,60,0.70,143.66,86.57,98.00,30.22
674,12/31/2024,3.67,0.62,1.42,5.35,6.61,1.42,36.19,60,0.72,163.21,77.02,96.68,30.12

In [70]:
data6.isnull().sum()

PARAMETERS    0
SO2           0
CO            0
NO            0
NO2           0
NOX           0
NH3           0
O3            0
AQI           0
WS            0
WD            0
RH            0
SR            1
TC            0
dtype: int64

In [71]:
data6['SR'].fillna(data6['SR'].median(), inplace=True)

C:\Users\volker EJ\AppData\Local\Temp\ipykernel_31608\3189536587.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data6['SR'].fillna(data6['SR'].median(), inplace=True)

In [72]:
print(data6['SR'].isnull().sum())

0

In [73]:
data6.isnull().sum()

PARAMETERS    0
SO2           0
CO            0
NO            0
NO2           0
NOX           0
NH3           0
O3            0
AQI           0
WS            0
WD            0
RH            0
SR            0
TC            0
dtype: int64

In [74]:
x=data6[['SO2','CO','NO','NO2','NOX','NH3','O3','WS','WD','RH','SR','TC']]
y=data6['AQI']

In [75]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [76]:
from sklearn.linear_model import LinearRegression
model1 = LinearRegression()
model1.fit(x_train, y_train)
y_pred1 = model1.predict(x_test)
y_pred1

array([79.52945262, 59.67667193, 58.24898343, 60.84412952, 74.47321389,
       64.57371618, 59.1010919 , 45.83365983, 58.58512554, 61.5931889 ,
       65.51569423, 65.58724624, 57.14079222, 65.84725425, 46.66868553,
       40.67020281, 46.5958597 , 78.02313023, 61.47903089, 80.88510088,
       39.98431494, 50.59157042, 64.51946985, 36.68405631, 43.16379563,
       45.72558157, 58.63943856, 54.91287836, 46.09815578, 75.04737198,
       56.6058018 , 66.91303233, 78.30546192, 63.15840692, 50.28278301,
       44.49263367, 68.35568565, 54.22359107, 58.1803915 , 71.7033548 ,
       63.87528197, 96.18468532, 57.66112076, 38.7373659 , 66.04765729,
       38.39921191, 73.36953984, 80.07443484, 63.53670314, 76.97397718,
       46.20407057, 62.82811952, 74.00635285, 60.87812814, 49.78026005,
       55.77061823, 56.1066519 , 49.26200304, 49.30449989, 64.77500048,
       70.77340507, 42.8168908 , 43.90526444, 71.78130916, 78.07385653,
       82.89868421, 66.2219625 , 47.70312556, 57.21156554, 45.79568147,
       22.57837357, 43.10545683, 64.80371079, 60.26580297, 67.02753427,
       62.75136746, 48.19351629, 55.49501059, 83.61148422, 61.73500915,
       55.73333823, 45.65028449, 76.86629132, 75.37115818, 63.88374499,
       73.7382883 , 41.03842999, 43.65267168, 65.92846276, 62.1088985 ,
       83.91222063, 43.5408295 , 44.41368764, 81.42377923, 44.6168296 ,
       79.39204774, 80.75267444, 44.40331231, 58.09127488, 54.05296145,
       63.15019702, 44.0563414 , 81.7715254 , 41.87801547, 80.29898527,
       61.23502526, 47.73751416, 76.72440085, 62.4333687 , 62.33968035,
       57.9848457 , 44.77748489, 79.98001294, 56.42361481, 51.80435607,
       81.88695354, 65.85387695, 54.40966352, 56.52986732, 64.03133904,
       45.28883421, 46.77811809, 58.8710069 , 52.86839432, 68.56219912,
       71.58596646, 61.35796797, 55.14112053, 58.1471675 , 50.91011258,
       68.65492003, 74.05450051, 15.20501488, 63.59825369, 67.38054267])

In [77]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred1)

0.6179111337887035

In [78]:
from sklearn.neighbors import KNeighborsRegressor
model2 = KNeighborsRegressor()
model2.fit(x_train, y_train)
y_pred2 = model2.predict(x_test)

In [79]:
r2_score(y_test, y_pred2)

0.6145198427257783

In [80]:
from sklearn.tree import DecisionTreeRegressor
model3 = DecisionTreeRegressor()
model3.fit(x_train,y_train)
y_pried3 = model3.predict(x_test)

In [81]:
r2_score(y_test, y_pred2)

0.6145198427257783

In [82]:
from sklearn.ensemble import RandomForestRegressor
model4 = RandomForestRegressor()
model4.fit(x_train, y_train)
y_pred4 = model4.predict(x_test)

In [64]:
r2_score(y_test,y_pred4)

0.7707742815913471

In [83]:
import pickle

In [84]:
file3=open("rdforest_mode4.pk","wb")
pickle.dump(model4,file3)
file3.close()